@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root{
    --water: rgb(36,129,240);
    --bug: rgb(146,162,18);
    --dragon: rgb(79,96,226);
    --electric: rgb(250,193,0);
    --ghost: rgb(113,63,113);
    --fire : rgb(231,35,36);
    --ice: rgb(61,217,255);
    --fighting: rgb(255,129,0);
    --normal: rgb(160,162,160);
    --grass: rgb(61,162,36);
    --psychic: rgb(239,63,122);
    --rock: rgb(176,171,130);
    --ground: rgb(146,80,27);
    --poison: rgb(146,63,204);
    --flying: rgb(130,186,240);
    --fairy: rgb(239,113,240);
    --steel: rgb(96,162,185);
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
#main-title{
    text-decoration: none;
}
#font-type{
    font-family: "Pokemon Solid";
    text-align: center;
    color: #FFCB05;
    text-shadow: -4px -4px 1px #184079, 4px 4px 1px #184079, -4px 4px 1px #184079, 4px -4px 1px #184079;
    font-size: 50px;
    letter-spacing: 5px;
}
body{
    /* background-color: var(--background-color); Lo comento de momento porque en teoría no queremos fondo negro */
    transition: all 1s ease-in-out;

}
.types{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    gap: 2vw;
    justify-content: center;
}
.type{
    outline: auto black;
    border-radius: 25px;
   /*-webkit-text-stroke: .5px black; */
    text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.image > img{
    width: 100%;
    height: auto;
}
img{
    vertical-align: middle;
}
.name:first-letter {
    text-transform: uppercase;
}
.poke{
    /*background-color: rgb(255, 255, 255); */
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 55px;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all 1s ease-in-out;
}
.poke:hover{
    position: relative;
}