@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: auto;
    transition: all .5s ease;
}

:root {
    --water: rgb(36, 129, 240);
    --bug: rgb(146, 162, 18);
    --dragon: rgb(79, 96, 226);
    --electric: rgb(250, 193, 0);
    --ghost: rgb(113, 63, 113);
    --fire: rgb(231, 35, 36);
    --ice: rgb(61, 217, 255);
    --fighting: rgb(255, 129, 0);
    --normal: rgb(160, 162, 160);
    --grass: rgb(61, 162, 36);
    --psychic: rgb(239, 63, 122);
    --rock: rgb(176, 171, 130);
    --ground: rgb(146, 80, 27);
    --poison: rgb(146, 63, 204);
    --flying: rgb(130, 186, 240);
    --fairy: rgb(239, 113, 240);
    --steel: rgb(96, 162, 185);
    --dark: rgb(80, 65, 63);

    --bold: 800;

    margin: 0;
}

body[theme="dark"] {
    --background-color: black;
    --text-color: white;
    --filter-color: hwb(0 34% 63%);
    --list-background: rgb(26,26,26);
    --shadow-filter: rgba(221, 204, 204, 0.61);
    --hover-filter: rgb(69, 69, 69);
}

body[theme="light"] {
    --background-color: white;
    --text-color: black;
    --filter-color: #f1f1f1;
    --shadow-filter: rgba(0, 0, 0, 0.2);
    --hover-filter: #ddd;
}

a {
    text-decoration: none;
    color: inherit;
}

#main-title {
    text-decoration: none;
}

.font-type {
    font-family: "Pokemon Solid";
    text-align: center;
    color: #FFCB05;
    text-shadow: -4px -4px 1px #184079, 4px 4px 1px #184079, -4px 4px 1px #184079, 4px -4px 1px #184079;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

body {
    transition: all 1s ease-in-out;
}

.types {
    color: white;
    display: grid;
    justify-content: center;
}

.type {
    outline: auto black;
    border-radius: 25px;
    padding: 3px;
    /*-webkit-text-stroke: .5px black; */
    text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image>img {
    width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    transition: color 1s ease-in-out;
    font-weight: var(--bold);
    color: var(--text-color);
}

.name:first-letter {
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding: 20px;
}

#options {
    background-color: #333;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 3px rgb(80, 74, 74) solid;
    font-weight: var(--bold);
}

option{
    font-weight: var(--bold);
}

.poke {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: var(--bold);
    border-radius: 55px;
    box-shadow: 0px 0px 10px var(--text-color);
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: all 1s ease-in-out;
}

.poke:hover {
    position: relative;
}

.switch {
    position: absolute;
    /* right: 100px; */
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfb2b2;
    background-image: url("https://cdn-icons-png.flaticon.com/512/7563/7563567.png");
    background-repeat: no-repeat;
    background-position: 35px;
    background-size: 25px;
    -webkit-transition: .4s;
    transition: .4s;
    filter: drop-shadow(0 0 14px rgb(124, 22, 117));
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: #2196F3; */
    background-color: rgb(40, 38, 38);
    background-image: url("https://media-public.canva.com/n-Kh8/MAEHzPn-Kh8/1/t.png");
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 20px;
    filter: drop-shadow(0 0 14px red);

}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

ul {
    padding-inline: 0;
    margin-block: 0;
}

::-webkit-scrollbar {
    width: 1vw;
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    background-color: #494646;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #716e6e;
}