@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root{
    --agua: rgb(36,129,240);
    --bicho: rgb(146,162,18);
    --dragon: rgb(79,96,226);
    --electrico: rgb(250,193,0);
    --fantasma: rgb(113,63,113);
    --fuego : rgb(231,35,36);
    --hielo: rgb(61,217,255);
    --lucha: rgb(255,129,0);
    --normal: rgb(160,162,160);
    --planta: rgb(61,162,36);
    --psiquico: rgb(239,63,122);
    --roca: rgb(176,171,130);
    --tierra: rgb(146,80,27);
    --veneno: rgb(146,63,204);
    --volador: rgb(130,186,240);
    --hada: rgb(239,113,240);
    --acero: rgb(96,162,185);
    
    margin: 0;
}
body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#main-title{
    text-decoration: none;
}
#font-type{
    font-family: "Pokemon Solid";
    text-align: center;
    color: #FFCB05;
    text-shadow: -4px -4px 1px #184079, 4px 4px 1px #184079, -4px 4px 1px #184079, 4px -4px 1px #184079;;
    font-size: 50px;
    letter-spacing: 5px;
}
#demo{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    color: var(--fuego);
    gap: 4vw;
    margin: 10vw;
    /* vw para que sea más responsivo, es una unidad de medida relativa */
}
.poke{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 55px;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100%;
}
.poke:hover{
    position: relative;
}
.name:first-letter {
    text-transform: uppercase;
}
.poke:hover::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, red, white, black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: -1;
    filter: blur(5px);
}
.poke, .poke a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
img{
    vertical-align: middle;
}
.types{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    gap: 2vw;
    justify-content: center;
}
.type{
    outline: auto black;
    border-radius: 25px;
}
.alert {
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}
#search{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding: 1vh 2vw 1vh 2vw;
    background-size: 1vw;
    background-position: center;
    border-radius: 25px;
    width: 1vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease-in-out;

}
#search:focus{
    background-position: 0.5vw;
    border-radius: 25px;
    width: 15vw;
    height: 2vw;
}
#options{
    left: 0;
}
.buscador {
    font-size: 20px;
    border: solid 0.1em #000000;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}
.buscador input[type=text] {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 0.8s ease-in-out 0.150s;
}

.buscador input[type=text]:focus, .buscador input[type=text]:not(:placeholder-shown) {
    width: 18em;
    transition: width 0.8s ease-in-out;
}
.buscador input[type=text]:focus + button[type=reset], .buscador input[type=text]:not(:placeholder-shown) + button[type=reset] {
    transform: rotate(-45deg);
    transition: transform 0.150s ease-out 0.8s;
}
.buscador input[type=text]:focus + button[type=reset]:after, .buscador input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
    opacity: 1;
    transition: top 0.150s ease-out 1s, right 0.150s ease-out 1s, opacity 0.150s ease 1s;
}
.buscador button[type=reset] {
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.55em;
    right: 0.55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 0.150s ease-out 0.150s;
}
.buscador button[type=reset]:before, .buscador button[type=reset]:after {
    content: "";
    background-color: #000000;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
}
.buscador button[type=reset]:after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 0.150s ease-out, opacity 0.150s ease-out;
}

span{
    margin: 5px 50px;
}