@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
:root{
    --fuego : red;
}

#main-title{
    text-decoration: none;
}

#font-type{
    font-family: "Pokemon Solid";
    text-align: center;
    color: #FFCB05;
    text-shadow: -4px -4px 1px #184079, 4px 4px 1px #184079, -4px 4px 1px #184079, 4px -4px 1px #184079;;
    font-size: 50px;
    letter-spacing: 5px;
}
#demo
{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );
    color: var(--fuego);
    gap: 10px;

}
#demo > div
{
    background-color: rgb(16, 15, 15);
    text-align: center;
    padding: 200px 0;
    font-size: 30px;
    border-radius: 25%;
}
form input{
    height: 30px;
    position: absolute;
    top: 5%;
}
form .input:focus + .spinner{
    background-color: #184079;
    display: block;
}

.spinner{
    position: absolute;
    top: 7%;
    left: 150px;
    translate: 0 -50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid green;
    border-top-color: red;
    display: none;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg)
    }
}
