@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
#font-type{
    font-family: "Pokemon Solid";
    text-align: center;
}
.grid-container
{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );
    color: wheat;
    gap: 10px;

}
.grid-container > div
{
    background-color: rgb(16, 15, 15);
    text-align: center;
    padding: 200px 0;
    font-size: 30px;
    border-radius: 25%;
}