body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  align-items: flex-start;
}
ul{
  padding-inline: 0;
  margin-block: 0;
}
#demo{
    display: grid;
    /* grid-template-columns: repeat( auto-fill, minmax(15vw, 200px) ); */
    grid-template-columns: repeat( auto-fill, 250px);
    color: var(--fuego);
    gap: 4vw;
    margin: 10vw;
    justify-content: center ;
    /* vw para que sea más responsivo, es una unidad de medida relativa */
}
@media (max-width: 700px) {
    #demo{
        grid-template-columns: repeat( auto-fill, 200px );
        gap: 10vw;
    }
}
.alert {
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}
#search{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding: 1vh 2vw 1vh 2vw;
    background-size: 1vw;
    background-position: center;
    border-radius: 25px;
    width: 1vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease-in-out;

}
#search:focus{
    background-position: 0.5vw;
    border-radius: 25px;
    width: 15vw;
    height: 2vw;
}
#options{
    background-color: #333;
    color:aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.buscador {
    font-size: 20px;
    border: solid 0.1em #000000;
    position: relative;
    border-radius: 2.5em;
    display: flex;
}
.buscador input[type=text] {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 0.8s ease-in-out 0.150s;
}

.buscador input[type=text]:focus, .buscador input[type=text]:not(:placeholder-shown) {
    width: 18em;
    transition: width 0.8s ease-in-out;
}
.buscador input[type=text]:focus + button[type=reset], .buscador input[type=text]:not(:placeholder-shown) + button[type=reset] {
    transform: rotate(-45deg);
    transition: transform 0.150s ease-out 0.8s;
}
.buscador input[type=text]:focus + button[type=reset]:after, .buscador input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
    opacity: 1;
    transition: top 0.150s ease-out 1s, right 0.150s ease-out 1s, opacity 0.150s ease 1s;
}
.buscador button[type=reset] {
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.55em;
    right: 0.55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 0.150s ease-out 0.150s;
    background-color: transparent;
}
.buscador button[type=reset]:before, .buscador button[type=reset]:after {
    content: "";
    background-color: #000000;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
}
.buscador button[type=reset]:after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 0.150s ease-out, opacity 0.150s ease-out;
}
span{
    margin: 100px;
}
.switch {
  position: absolute;
  /* right: 100px; */
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar{
  width: 1vw;
  margin: 0;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #494646;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #716e6e;
}