body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

.font-type,
#loading-footer {
    background-color: rgb(135, 33, 15);
    transition: all .5s ease-in-out;
}

#loading-footer {
    height: 150px;
}

#demo {
    display: grid;
    /* grid-template-columns: repeat( auto-fill, minmax(15vw, 200px) ); */
    grid-template-columns: repeat(auto-fill, 250px);
    transition: all 0.5s ease;
    color: var(--fuego);
    gap: 4vw;
    margin: 10vw;
    justify-content: center;
    width: auto;
    /* vw para que sea más responsivo, es una unidad de medida relativa */
}



.alert {
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

#search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding: 1vh 2vw 1vh 2vw;
    background-size: 1vw;
    background-position: center;
    border-radius: 25px;
    width: 1vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease-in-out;

}

#search:focus {
    background-position: 0.5vw;
    border-radius: 25px;
    width: 15vw;
    height: 2vw;
}

.buscador {
    font-size: 20px;
    border: solid 0.1em #000000;
    position: relative;
    border-radius: 2.5em;
    display: flex;
}

.buscador input[type=text] {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 0.8s ease-in-out 0.150s;
}

.buscador input[type=text]:focus,
.buscador input[type=text]:not(:placeholder-shown) {
    width: 18em;
    transition: width 0.8s ease-in-out;
}

.buscador input[type=text]:focus+button[type=reset],
.buscador input[type=text]:not(:placeholder-shown)+button[type=reset] {
    transform: rotate(-45deg);
    transition: transform 0.150s ease-out 0.8s;
}

.buscador input[type=text]:focus+button[type=reset]:after,
.buscador input[type=text]:not(:placeholder-shown)+button[type=reset]:after {
    opacity: 1;
    transition: top 0.150s ease-out 1s, right 0.150s ease-out 1s, opacity 0.150s ease 1s;
}

.buscador button[type=reset] {
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.55em;
    right: 0.55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 0.150s ease-out 0.150s;
    background-color: transparent;
}

.buscador button[type=reset]:before,
.buscador button[type=reset]:after {
    content: "";
    background-color: #000000;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
}

.buscador button[type=reset]:after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 0.150s ease-out, opacity 0.150s ease-out;
}

span {
    margin: 100px;
}

/* .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.loader {
    width: 200px;
    height: auto;
    margin: auto;
    align-items: center;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 28px solid #0b0a0a;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #a72e2e transparent transparent transparent;
}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */
.search-filters{
    display: flex;
    align-items: center;
}
#filter {
    background-image: url("https://cdn-icons-png.flaticon.com/512/3839/3839020.png");
    background-color: transparent;
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.filter-options {
    opacity: 0;
    display: none;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.filter-options.show {
    display: block;
    opacity: 1;
    display: grid;
    grid-template-columns: 2, 1fr;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

#filter-title {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.filter-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}

.filter-hover-options {
    display: none;
    /* Inicialmente ocultamos el contenido */
}

.btn,
.btn-gen {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 1px 1px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active,
.btn-gen.active {
    background-color: #666;
    color: white;
}

#myBtnContainer,
#myBtnContainerGen {
    opacity: 0;
    justify-content: center;
    display: none;
    overflow: auto;
}

#myBtnContainerGen::-webkit-scrollbar,
#myBtnContainer::-webkit-scrollbar {
    display: none;
}

#gen,
#type {
    cursor: pointer;
    padding: 3px;
}

#prueba,
#prueba1 {
    opacity: 0;
    transition: opacity 0.5s;
}

#prueba1.show {
    opacity: 1;
}

.types {
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    gap: 2vw;
}

.info-alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
    background-color: #c5e1a5;
    color: #333;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-alert.show {
    opacity: 1;
}

@media (max-width: 768px) {
    #demo {
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 10vw;
    }

    #myBtnContainer,
    #myBtnContainerGen {
        justify-content: flex-start;
    }
    .menu{
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
    #options{
        margin-top: 10px;
    }

}

.search-container {
    display: flex;
    justify-content: center;
}

/* Estilos del input de búsqueda */
.search-container #search-input {
    padding: 10px;
    border: white;
    font-size: 17px;
    border-radius: 5px 0 0 5px;
    width: 60%;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: width .5s ease-in-out;
}

#search-input:focus {
    width: 90%;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.loader .loading-content{
    font-size: 2rem;
    position: relative;
    color: red;
    animation: animate 2s ease-in-out infinite;
    display: inline-block;
    animation-delay: calc(0.1s * var(--z));
    margin: 0;
}
@keyframes animate {
    0%,40%,100%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-50px);
        filter: drop-shadow(0 0 20px rgb(255, 21, 0));
        box-shadow: 0 30px 0 rgb(31, 34, 34), 0 -30px 0 rgb(37, 41, 41);
    }

    
}