#evolution-chain{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(15vw, 200px) );
    gap: 4vw;
    margin: 10vw;
    justify-content: center;
}

.evolution-elements{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 55px;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100%;
}

#evolution-chain a {
    text-decoration: none;
}

#main-image{
    width: 30vw;
    height: auto;
    margin: auto;
}

#stats{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 200px) );
    gap: 10px;
    border: 3px black solid;
    border-radius: 30px;
}

#p2 {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

#pantallaca {
    width: 500px;
    height: 400px;
    background-color: red;
}