body {
    background-color: var(--list-background);
    margin: auto;
}

.font-type{
    background-color: rgb(135, 33, 15);
    transition: all .5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#loading-footer {
    height: 150px;
}

.icons{
    width: 30px;
    height: 30px;
}

#pokemonList {
    display: grid;
    /* grid-template-columns: repeat( auto-fill, minmax(15vw, 200px) ); */
    grid-template-columns: repeat(auto-fill, 250px);
    transition: all 0.5s ease;
    color: var(--fuego);
    gap: 4vw;
    margin: 10vw;
    justify-content: center;
    width: auto;
    /* vw para que sea más responsivo, es una unidad de medida relativa */
}

.alert {
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

#search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding: 1vh 2vw 1vh 2vw;
    background-size: 1vw;
    background-position: center;
    border-radius: 25px;
    width: 1vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease-in-out;

}

#search:focus {
    background-position: 0.5vw;
    border-radius: 25px;
    width: 15vw;
    height: 2vw;
}

span {
    margin: 100px;
}

.search-filters{
    display: flex;
    align-items: center;
}
#filter {
    background-image: url(../img/filter.png);
    background-color: transparent;
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
    filter: drop-shadow(0px 0px 2px white);
}
.filter-options {
    opacity: 0;
    display: none;
    z-index: 1;
    background-color: var(--filter-color);
    color: var(--text-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-filter);
    padding: 12px 16px;
    transition: all 1s ease-in-out;
    font-weight: var(--bold);
}

.filter-options.show {
    display: block;
    opacity: 1;
    display: grid;
    grid-template-columns: 2, 1fr;
}

#filter-title {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.filter-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}

.filter-hover-options {
    display: none;
    /* Inicialmente ocultamos el contenido */
}

.btn,
.btn-gen {
    border: none;
    outline: none;
    padding: 12px 16px;
    color: var(--text-color);
    background-color: var(--filter-color);
    cursor: pointer;
    margin: 1px 1px;
    border-radius: 15px;
    transition: all 1s ease-in-out;
}

.btn-gen{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn:hover, .btn-gen:hover {
    background-color: var(--hover-filter);
}

.btn.active,
.btn-gen.active {
    background-color: var(--hover-filter);;
    color: rgb(172, 0, 0);
}

#myBtnContainer,
#myBtnContainerGen {
    opacity: 0;
    justify-content: center;
    display: none;
    overflow: auto;
}

#myBtnContainerGen::-webkit-scrollbar,
#myBtnContainer::-webkit-scrollbar {
    display: none;
}

#gen,
#type {
    cursor: pointer;
    padding: 3px;
}

#btn-container,
#filter-container {
    opacity: 0;
    transition: opacity 0.5s;
}

#filter-container.show {
    opacity: 1;
}

.types {
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    gap: 2vw;
}

.info-alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
    background-color: #c5e1a5;
    color: #333;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-alert.show {
    opacity: 1;
}

@media (max-width: 768px) {
    #pokemonList {
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 10vw;
    }

    #myBtnContainer,
    #myBtnContainerGen {
        justify-content: flex-start;
    }
    .menu{
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
    #options{
        margin-top: 10px;
    }

}

.search-container {
    display: flex;
    justify-content: center;
}

/* Estilos del input de búsqueda */
.search-container #search-input {
    padding: 10px;
    border: white;
    font-size: 17px;
    border-radius: 5px 0 0 5px;
    width: 60%;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: width .5s ease-in-out;
}

#search-input:focus {
    width: 90%;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.loader .loading-content{
    font-size: 2rem;
    position: relative;
    color: red;
    animation: animate 2s ease-in-out infinite;
    display: inline-block;
    animation-delay: calc(0.1s * var(--z));
    margin: 0;
}
@keyframes animate {
    0%,40%,100%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-50px);
        filter: drop-shadow(0 0 20px rgb(255, 21, 0));
        box-shadow: 0 30px 0 var(--transition-color), 0 -30px 0 var(--transition-second-color);
    }

    
}

.poke{
    color: var(--text-color);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffcc00;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    background-image: url("https://cdn-icons-png.flaticon.com/512/2926/2926224.png");
    background-repeat: no-repeat;
    background-size: 30px;
}
  
  #scrollToTopBtn:hover {
    background-color: #f309098c;
  }