.types{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    gap: 2vw;
    justify-content: center;
}
.type{
    outline: auto black;
    border-radius: 25px;
}

#stats{
    background-color: var(--fuego);
}