.image{
    width: 500px;
    height: 500px;
}

#evolution-chain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2vw, 0.5fr));
    border: 3px black solid;
}

.evolution-element{
    border: 3px red solid;
}

#evolution-chain a {
    text-decoration: none;
}
